nav div{
    display: inline-block;
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-message{
    background-color: white;
    border-radius: 5px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-top: 300px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.link{
    font-size: 12px;
}

.link:hover{
    font-weight: bold;
    cursor: pointer;
}

.documents{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    padding: 0px 10px;
}

.document{
    padding: 10px;
}

.document-selected{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.document:hover{
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.back{
    
}

.back:hover{
    cursor: pointer;
}

nav{
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
    height: 50px;
    max-height: 100px;
}

.dropdown-menu-new {
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    right: 20px;
    top: 40px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* width: 100%; */
}

.dropdown-menu-new ul{
    list-style-type: none;
    padding: unset;
}

.dropdown-menu-new li{
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    cursor: pointer;
}

.dropdown-menu-new li:last-child{
    padding: 5px;
    border-bottom: none;
    padding: 5px 20px;
}

.cursor-pointer{
    cursor: pointer;
}

.progressbar {
    background-color: green;
    color: white;
}